{% extends 'main/base.html' %}
{% block title %}*** Послуги ***{% endblock %}
{% block content %}
<h2 class="text-warning">Наші послуги</h2>

<form method="get" class="mb-3">
    <input type="text" name="q" placeholder="Пошук..."
           value="{{ request.GET.q }}" class="form-control">
</form>

<p>Оновлено: {{ last_updated|date:"d.m.Y" }}</p>
<p>Знайдено {{ services|length }} послуг{{ services|length|pluralize:"а,и" }}</p>
<p>Для відображення послуг використаний 'slice' для відображення 3 послуг згідно з завданням}}</p>
<div class="row">
    {% for service in services|slice:":4" %}
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-primary">{{ service.name|upper }}</h5>
                <p class="card-text">{{ service.description }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-danger">Немає доступних послуг.</p>
    {% endfor %}
</div>

<p>Контакти доступні: {{ has_contacts|yesno:"Так,Ні" }}</p>
{% endblock %}